# Server configuration
PORT=3001
JWT_SECRET=soul_secret_key_123

# OSS configuration
ACCESS_KEY_ID=your_access_key_id
SECRET_ACCESS_KEY=your_secret_access_key
BUCKET_NAME=your_bucket_name
REGION=oss-cn-hangzhou

# SMS configuration
# SMS_PROVIDER can be 'aliyun' or 'mock'
SMS_PROVIDER=mock
ALIYUN_ACCESS_KEY_ID=your_access_key_id
ALIYUN_ACCESS_KEY_SECRET=your_access_key_secret
ALIYUN_SMS_SIGN_NAME=your_sms_sign_name
ALIYUN_SMS_TEMPLATE_CODE=your_sms_template_code

# Mock features
MOCK_ROUTES_ENABLED=true

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
